.text-field
{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: #235892;
    -fx-background-color: #19406B;
    -fx-text-fill: white;
    -fx-font-family: Tahoma;
}

.toggle-switch {
    -thumb-move-animation-time: 100;
    -toggle-display: left;
}

.toggle-switch:selected .thumb-area {
    -fx-background-color: #19406B;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #183B62;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab {
    -fx-background-color: #19406B;
}

.tab-label {
    -fx-text-fill: white;
    -fx-font-family: Tahoma;
}